<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <!-- <configuration name="$layerName$.$safeprojectname$" description="$layerName$.$safeprojectname$" dependencies="$unicornDependencies$" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Feature.Base">
					      <predicate>
						      <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$solutionNamespace$/$(module)" />
                              <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/Renderings/$(layer)/$solutionNamespace$/$(module)" />
					      </predicate>
				      </configuration> -->
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
