<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Navigation" description="Feature.Navigation" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Feature.Base">
                  <predicate>
                    <include name="$(layer).$(module).BreadcrumbContentResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/ContosoCorp/CorporateSite/Breadcrumbs Content Resolver" />
                  </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
