<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Feature.Product" description="Feature.Product" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Feature.Base">
					      <predicate>
                  <include name="$(layer).$(module).ProductContentResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/ContosoCorp/CorporateSite/Product Content Resolver" />
					      </predicate>
				      </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
