<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <renderJsonRendering>
            <processor
              type="CorporateSite.Feature.SitecoreCustomizations.Pipelines.CustomRenderPlaceholders, CorporateSite.Feature.SitecoreCustomizations"
              resolve="true" patch:instead="processor[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.RenderPlaceholders, Sitecore.LayoutService']" />
          </renderJsonRendering>
        </pipelines>
      </group>
    </pipelines>

    <layoutService>
      <configurations>
        <config name="jss">
          <rendering>
            <placeholdersResolver type="CorporateSite.Feature.SitecoreCustomizations.Pipelines.CustomPlaceholdersResolver, CorporateSite.Feature.SitecoreCustomizations"
               patch:instead="placeholdersResolver[@type='Sitecore.LayoutService.Placeholders.DynamicPlaceholdersResolver, Sitecore.LayoutService']" />
          </rendering>
        </config>
        <config name="sxa-jss">
          <rendering>
            <placeholdersResolver type="CorporateSite.Feature.SitecoreCustomizations.Pipelines.CustomPlaceholdersResolver, CorporateSite.Feature.SitecoreCustomizations"
               patch:instead="placeholdersResolver[@type='Sitecore.LayoutService.Placeholders.DynamicPlaceholdersResolver, Sitecore.LayoutService']" />
          </rendering>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>