<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Project.CorporateSite.Website" description="Website templates renderings etc" dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Feature.Base">
                <predicate>
                  <include name="Project.CorporateSite.Website.Layouts" database="master" path="/sitecore/layout/Layouts/Project/ContosoCorp/CorporateSite" />
                  <include name="Project.CorporateSite.Website.Renderings" database="master" path="/sitecore/layout/Renderings/Project/ContosoCorp/CorporateSite" />
                  <include name="Project.CorporateSite.Website.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/ContosoCorp/CorporateSite" />
                  <include name="Project.CorporateSite.Website.Templates" database="master" path="/sitecore/templates/Project/ContosoCorp/CorporateSite" />
                </predicate>
				      </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
