<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="Root items"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).Templates.Foundation" database="master" path="/sitecore/templates/Foundation" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Feature" database="master" path="/sitecore/templates/Feature" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Project" database="master" path="/sitecore/templates/Project" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
                <except name="ContosoCorp" />
              </exclude>
            </include>
            <include name="$(layer).PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Project" database="master" path="/sitecore/layout/renderings/Project" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Content" database="master" path="/sitecore/content/ContosoCorp">
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).MediaLibrary.Website" database="master" path="/sitecore/media library/Project/ContosoCorp" >
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>