<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="Base folders for Contoso Corp tenant and websites"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).Templates.Foundation" database="master" path="/sitecore/templates/Foundation/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Feature" database="master" path="/sitecore/templates/Feature/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Templates.Project" database="master" path="/sitecore/templates/Project/ContosoCorp" >
              <except name="CorporateSite" includeChildren="true"/>
            </include>
            
            <include name="$(layer).PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            
            <include name="$(layer).Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            <include name="$(layer).Renderings.Project" database="master" path="/sitecore/layout/renderings/Project/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>

            <include name="$(layer).ContentResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            
            <include name="$(layer).Layouts.Project" database="master" path="/sitecore/layout/Layouts/Project/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            
            <include name="$(layer).Content" database="master" path="/sitecore/content/ContosoCorp">
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
            
            <include name="$(layer).MediaLibrary.Website" database="master" path="/sitecore/media library/Project/ContosoCorp" >
              <exclude children="true">
                <except name="CorporateSite" includeChildren="false"/>
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>